.section-wrapper {
  max-width: 1400px;
}

.grid-background {
  z-index: -1;
  width: 80%;
  height: 100%;
  position: absolute;
  offset: unset;
  background: url("/image/grid.svg") no-repeat center;
  background-size: cover;

  /* Mask the background */
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle, black, transparent 60%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
.background-right {
  z-index: 1;
  right: -20%;
  top: -50px;
  position: absolute;
}
.background-right img {
  width: 900px;
  height: 1200px;
}
.background-left {
  position: absolute;
  left: -10%;
  top: 0%;
}
.background-left img {
  width: 500px;
  height: 900px;
}
.here-img {
  display: block;
}
.star-one {
  background-color: transparent;
  inset: 32% auto auto 40%;
  display: inline-block;
  z-index: 20;
  animation: scaler 1s linear infinite alternate;
}
.star-two {
  inset: auto auto 15% 30%;
  display: inline-block;
  z-index: 20;
  animation: rotate 20s linear infinite reverse;
}
.world-img {
  animation: rotate 30s linear infinite;
}

@keyframes scaler {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* breakpoint */

@media screen and (max-width: 900px) {
  .hero-img {
    display: none;
  }
  .hero-section {
    justify-content: center;
  }
  .background-right {
    z-index: 1;
    width: 900px;
    height: 950px;
    right: -300px;
    top: -100px;
  }
  .background-left {
    width: 700px;
    height: 1000px;
    position: absolute;
    left: -30%;
    top: -10%;
  }
  .logo-wrapper {
    width: 100px;
    height: auto;
  }
}
